.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.packsList {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.settings {
    display: grid;
    grid-template-columns: 3fr 1.5fr 3fr 1.1fr;
    margin: 20px 0;
    gap: 20px;
}

.search, .show, .numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}

.filter {
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
    align-items: flex-end;
}

.slider {
    display: flex;
    gap: 20px;
}

.noPacks {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    opacity: 0.8;
}

.packDeck {
    display: flex;
    align-items: center;
}

.packDeck img {
    width: 57px;
    height: 36px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}

.tableRowActive:hover .packDeck img{
    transform: translate(-3px, 0);
}

.pagination {
    padding: 20px 0;
}

.tableHead {
    background-color: #EFEFEF;
}

.tableRowActive {
    transition: 0.5s;
}

.tableRowActive:hover {
    cursor: pointer;
}

.tableRowDisabled {
    opacity: 0.5;
}

.actionButtons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}