.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.packsList {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.settings {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 15px;
}

.search, .show, .numbers, .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}

.numbers {
    width: 390px;
}

.slider {
    display: flex;
    gap: 20px;
}

.noPacks {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    opacity: 0.8;
}

.pagination {
    padding: 20px 0;
}
.tableHead {
    background-color: #EFEFEF;
    transition: 0.5s;
}

.tableHead:hover {
    background-color: #e7e5e5;
}

.tableRowActive:hover {
    transition: 0.5s;
}

.tableRowActive:hover {
    cursor: pointer;
    background-color: #e7e5e5;
}

.tableRowDisabled {
    opacity: 0.5;
}