.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.packsList {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.settings {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 15px;
}

.search, .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
}

.numbers {

}

.filter {

}

.noPacks {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    opacity: 0.8;
}