.input {
    width: 55px;
    background-color: #FFFFFF;
}

.input input {
    text-align: center;
}

.input input[type="number"] {
    -moz-appearance: textfield;
}

.input input[type="number"]::-webkit-inner-spin-button,
.input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}