.back {
    display: inline-block;
    margin: 25px 50px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 10px;
}

.back a{
    color: #000000;
    text-decoration: none;
}

.profile {
    margin: 0;
}

.paper {
    padding: 35px;
}

.header {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
}

.img img {
    width: 96px;
}

.editableSpan {
    display: flex;
    justify-content: center;
}


.email {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin: 15px 0 0;
}

.logout button {
    width: 400px;
    font-weight: 600;
    font-size: 16px;
    margin: 37px 0 0;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #000000;
    opacity: 0.8;
    text-transform: none;
}