.name {
    display: flex;
    gap: 20px;
}

.nameText {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 20px 0 0;
}

.nameBtn {
    top: 10px;
 }