.select {
    border: 1px solid #C2C2C2;
    border-radius: 6px;
    padding: 5px 10px;
}

.select:focus {
}

.option:hover {
    background: #cc0000;
}

.option:checked {
    background-color: #0066CC;
    color: #FFFFFF;
}
