.login {
    margin: 60px;
}

.paper {
    padding: 35px;
}

.header {
    text-align: center;
    margin: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.form {
    display: flex;
    justify-content: center;
}

.form input {
    width: 400px;
}

.form p {
    color: #000000;
    opacity: 0.5;
    margin: 5px 0;
}

.form button {
    margin: 70px 0 0;
}

.email{
    position: relative;
}

.errorEmail {
    color: #d33131;
    position: absolute;
    top: 10px;
    right: -2px;
    font-size: 13px;
}

.dha {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin: 30px 0 0;
}

.loginLink {
    text-align: center;
    margin: 10px 0 0;
}

.loginLink a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #366EFF;
}